.edit__comment
  form(action=`/${comment.id}/comment/edit` method ='post') 
    input(type="text" value=`${user.userName}` name="author" readonly)
    input(type="text" value= comment.text name="edittext")
    button 저장하기
