header.header 
  .header__wrapper 
    .header__column 
      a(href="...")
        i.fas.fa-home
        span myBlog 
    .header__column 
      a(href="...")
       i.fas.fa-plus-square
       span 글쓰기