doctype html
html
    head
        link(rel="stylesheet", href="/public/css/comment.css")
        link(rel="stylesheet", href="/public/css/style.css")
        link(rel="stylesheet", href="/public/css/post.css")
        <script src="https://kit.fontawesome.com/7c8c424c87.js" crossorigin="anonymous"></script>
        <script src="/public/index.js"></script>
        title Dana's Blog | 2021
    body
        header 
          include ../partials/header
        main 
          block content 
        include ../partials/footer
