extends layouts/main.pug
include mixin/postBlock.pug

block content 
  .posts 
      each item in posts 
        +postBlock({
          title:item.title,
          author:item.author,
          createAt: item.createAt
        })
