extends layouts/main.pug

block content 
  .login__form  
    form(method='post' action='/join')
      input(type='text' placeholder='id를 입력하세요' name='userId')
      input(type='text' placeholder='닉네임을 입력하세요' name='userName')
      input(type='text' placeholder='pass word를 입력하세요' name='password') 
      input(type='text' placeholder='한번 더 입력하세요' name='confirmPassword') 
      input(type='submit', value='JOIN')
 
