extends layouts/main.pug

block content 
  .login__form  
    form(method='post' action='/login')
      input(type='text' placeholder='id를 입력하세요' name='userId')
      input(type='text' placeholder='pass word를 입력하세요' name='password') 
      input(type='submit', value='LogIn')
  a(href='...')
    span '아직 회원이 아니라면?'

  