body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	background-color: brown;
	margin: auto;
	height: 55px;
}

.header__wrapper {
	padding: 10px;
}

.header__column {
	font-size: 30px;
}

.header__column a {
	color: wheat;
	margin: 10px;
	text-decoration: none;
}

.postBlock {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.postBlock a {
	color: black;
	text-decoration: none;
}
